// @import "./styles/example.scss";

// #root {
//     color: $color;
// }

html,
body {
    height: 100%;
}

#top_nav {
    background-color: lightgrey;
    padding: 10px 0;
    height: 50px;
}

#main_title {
    text-align: center;
}

#main_title h1 {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

#main_section {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
}

#left_filter {
    background-color: steelblue;
    flex-grow: 1;
}

#middle_content {
    background-color: aqua;
    flex-grow: 3;
}

#right_content {
    background-color: aquamarine;
    flex-grow: 1;
}

#map {
    height: 400px;
    width: 100%;
}